table{
  width:100%;
}

.loading-spinner{
  padding:25px;
  background:rgba(0, 0, 0, 0.15);
  display:flex;
  align-items: center;
  justify-content:center;
}

.border-none{
  border:0px
}

.mat-mdc-mini-fab{
  margin-top: 10px;
  box-shadow:none !important;
  width:30px;
  height:30px;
}
